* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Serif', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #19265A;
}

a {
    text-decoration: none;
    color: #fff9c7;
}

ul {
    list-style: none;
}

img {
    max-width: 60%;
    max-height: 70%;
    border-radius: 30px;
    float: left;
}

.navbar {
    display: flex;
    overflow: hidden;
    background-color: #131D41;
    padding: 20px;
}

.header_logo {
    flex: 1;
    display: flex;

    position: absolute;
    padding: 10px;
}


.header_menu {
    padding: 30px;
    flex: 1.236;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 128px;

    list-style: none;
} 

.header_menu li {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    font-family: 'Red Hat Display', serif;
    cursor: pointer;
}



.title {
    /* flex: 1;
    display: flex;
    flex-direction: column; */
    padding: 30px;

    position: relative;
    z-index: 5;
}

.title img {
    float: right;
    width: 15%;
    height: 15%;
    border-radius: 50%;
    padding: 10px;
    object-fit: contain;

}

.title h2 {
    color: #fff;
    font-weight: 500;
    font-size: 40px;
    line-height: 40px;
    font-family: 'Noto Serif', sans-serif;
    padding-left: 100px;
}

.title h3 {
    color: #fceeff;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    font-family: 'Red Hat Display', sans-serif;
    padding-left: 100px;
    padding-right: 30%;
}

.hobbies_title h2 {
    color: #fff;
    font-weight: 500;
    font-size: 40px;
    line-height: 40px;
    font-family: 'Noto Serif', sans-serif;
    padding-left: 100px;
}

.hobbies_title h3 {
    color: #fceeff;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    font-family: 'Red Hat Display', sans-serif;
    padding-left: 100px;
    padding-right: 30%;
}

.socials_title h2 {
    color: #fff;
    font-weight: 500;
    font-size: 40px;
    line-height: 40px;
    font-family: 'Noto Serif', sans-serif;
    padding-left: 100px;
}

.socials_title h3 {
    color: #fceeff;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    font-family: 'Red Hat Display', sans-serif;
    padding-left: 100px;
    padding-right: 30%;
}

.socials_title img {
    margin-left: 90px;
}

